@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    background: none;
}

body {
    background-color: #8d99ae;
}

.wall {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.card {
    background-color: #edf2f4;
    border-radius: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid#d2d4d8;
}

.item:last-child {
    border-bottom: none;
}

.info {
    display: flex;
    justify-content: space-between;
}

.name,
.type,
.price {
    width: 150px;
    margin: 0 90px 0 0;
    color: #2b2d42;
}

.quantity span {
    padding: 5px 10px;
    background-color: #2b2d42;
    border-radius: 6px;
    color: #fff;
}

.total {
    padding: 20px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background-color: #2b2d42;
    margin-top: 15px;
}

.decreese,
.increase {
    cursor: pointer;
    margin-left: 25px;
}

.delete {
    font-size: 14px;
    margin-left: 30px;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    color: #ef233c;
}

.clear {
    float: right;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #ef233c;
    cursor: pointer;
}

header {
    background-color: #2b2d42;
}

header ul {
    width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}

.logo {
    float: left;
    font-size: 25px;
    color: #787994;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}