@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    background: none;
}

body {
    background-color: #f1f1f1;
}

.wall {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid#f1f1f1;
}

.info {
    display: flex;
    justify-content: space-between;
}

.name,
.type,
.price {
    width: 150px;
    margin: 0 90px 0 0;
}

.quantity span {
    padding: 5px 10px;
    background-color: #f1f1f1;
    border-radius: 6px;
}

.total {
    margin-top: 15px;
}

.decreese,
.increase {
    cursor: pointer;
    margin-left: 25px;
}